@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/proximanova/subset-ProximaNova-Light.eot");
  src: url("../fonts/proximanova/subset-ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/subset-ProximaNova-Light.woff2") format("woff2"), url("../fonts/proximanova/subset-ProximaNova-Light.woff") format("woff"), url("../fonts/proximanova/subset-ProximaNova-Light.ttf") format("truetype"), url("../fonts/proximanova/subset-ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/proximanova/subset-ProximaNova-Bold.eot");
  src: url("../fonts/proximanova/subset-ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/subset-ProximaNova-Bold.woff2") format("woff2"), url("../fonts/proximanova/subset-ProximaNova-Bold.woff") format("woff"), url("../fonts/proximanova/subset-ProximaNova-Bold.ttf") format("truetype"), url("../fonts/proximanova/subset-ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/proximanova/subset-ProximaNova-Regular.eot");
  src: url("../fonts/proximanova/subset-ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/subset-ProximaNova-Regular.woff2") format("woff2"), url("../fonts/proximanova/subset-ProximaNova-Regular.woff") format("woff"), url("../fonts/proximanova/subset-ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proximanova/subset-ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/proximanova-semibold/subset-ProximaNova-Semibold.eot");
  src: url("../fonts/proximanova-semibold/subset-ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold/subset-ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/proximanova-semibold/subset-ProximaNova-Semibold.woff") format("woff"), url("../fonts/proximanova-semibold/subset-ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/proximanova-semibold/subset-ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* line 70, E:/1/макет 7/scss/maket7.scss */
.overflow {
  overflow: hidden;
}

/* line 73, E:/1/макет 7/scss/maket7.scss */
.container1 {
  margin: 0 auto;
  max-width: 300px;
}

/* line 77, E:/1/макет 7/scss/maket7.scss */
.block1 {
  background: url("../images/320/img1.png") no-repeat;
  background-size: cover;
  text-align: center;
}

/* line 81, E:/1/макет 7/scss/maket7.scss */
.block1__title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 141px;
  margin-bottom: 118px;
}

/* line 88, E:/1/макет 7/scss/maket7.scss */
.block1__title-item {
  width: 100%;
  color: #ffffff;
  font-family: 'Proxima Nova Bold';
  font-size: 32px;
  line-height: 31.32px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.76px;
  z-index: 1;
}

/* line 98, E:/1/макет 7/scss/maket7.scss */
.block1__title-item:first-child {
  position: relative;
}

/* line 101, E:/1/макет 7/scss/maket7.scss */
.block1__title-item:nth-child(2) {
  margin-top: 28px;
  padding-left: 55px;
  letter-spacing: 1.6px;
}

/* line 109, E:/1/макет 7/scss/maket7.scss */
.logo {
  display: inline-block;
  margin-top: 39px;
  width: auto;
  height: 100%;
}

/* line 115, E:/1/макет 7/scss/maket7.scss */
.hr {
  border: none;
  position: absolute;
  z-index: -1;
  top: 61px;
  right: calc(39 / 243.53 * 100%);
  background-color: #5d40ad;
  width: 222.7px;
  transform: rotate(-50deg);
  height: 4px;
}

/* line 126, E:/1/макет 7/scss/maket7.scss */
.block__buttons {
  display: flex;
  justify-content: space-between;
}

/* line 129, E:/1/макет 7/scss/maket7.scss */
.block__buttons_item {
  margin-right: 8px;
  padding: 11px 17px;
  box-sizing: border-box;
  box-shadow: 0 10px 16px #0a0e34;
  background-color: #5e42b0;
  border-radius: 40px;
  width: 50%;
  height: auto;
  text-decoration: none;
}

/* line 139, E:/1/макет 7/scss/maket7.scss */
.block__buttons_item:last-child {
  margin-right: 0px;
}

/* line 142, E:/1/макет 7/scss/maket7.scss */
.block__buttons_item:hover {
  background-color: #8a74cb;
}

/* line 147, E:/1/макет 7/scss/maket7.scss */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* line 152, E:/1/макет 7/scss/maket7.scss */
.button__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: #ffffff;
}

/* line 157, E:/1/макет 7/scss/maket7.scss */
.block__buttons_item:nth-child(2) .button__icon {
  background: url("../images/320/icon-google-play.png");
  width: 16px;
  height: 18px;
}

/* line 163, E:/1/макет 7/scss/maket7.scss */
.button__title {
  color: #ffffff;
  font-size: 8px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

/* line 169, E:/1/макет 7/scss/maket7.scss */
.button__title_Part1 {
  font-family: 'Proxima Nova Lt';
  padding-bottom: 4px;
}

/* line 173, E:/1/макет 7/scss/maket7.scss */
.button__title_Part2 {
  font-family: 'Proxima Nova Semibold';
}

/* line 178, E:/1/макет 7/scss/maket7.scss */
.topmenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* line 187, E:/1/макет 7/scss/maket7.scss */
.topmenu__li {
  flex-flow: 1;
  list-style: none;
  background-color: transparent;
}

/* line 192, E:/1/макет 7/scss/maket7.scss */
.topmenu__a {
  display: block;
  text-align: center;
  color: #9071ea;
  padding: 5px 16.5px;
  font-family: 'Proxima Nova Lt';
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* line 204, E:/1/макет 7/scss/maket7.scss */
.topmenu__a:hover {
  color: #ffffff;
  background-color: #c4b4f4;
  transition: background-color 0.3s;
  border-radius: 10px;
}

/* line 211, E:/1/макет 7/scss/maket7.scss */
.flex {
  display: flex;
  flex-direction: column;
}

/* line 215, E:/1/макет 7/scss/maket7.scss */
.flex2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* line 221, E:/1/макет 7/scss/maket7.scss */
.header__link {
  color: #ffffff;
  font-family: 'Proxima Nova Lt';
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  text-decoration: none;
  display: none;
}

/* line 229, E:/1/макет 7/scss/maket7.scss */
.header__link:hover {
  color: orangered;
}

/* line 233, E:/1/макет 7/scss/maket7.scss */
.block2 {
  position: relative;
}

/* line 237, E:/1/макет 7/scss/maket7.scss */
.cross__part1 {
  width: 100%;
  height: 100%;
  margin-bottom: 232px;
}

/* line 240, E:/1/макет 7/scss/maket7.scss */
.cross__part1-title {
  color: #e7e7e7;
  font-family: 'Proxima Nova Bold';
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 0;
}

/* line 249, E:/1/макет 7/scss/maket7.scss */
.cross__part2 {
  position: relative;
}

/* line 253, E:/1/макет 7/scss/maket7.scss */
.sportsmen {
  position: absolute;
  right: calc((100% - 192px) / 2);
  top: 80px;
  z-index: 3;
}

/* line 258, E:/1/макет 7/scss/maket7.scss */
.sportsmen-img {
  position: relative;
  background: url("../images/320/img2.png") no-repeat;
  top: 0;
  left: 0;
  width: 192px;
  height: 281px;
}

/* line 266, E:/1/макет 7/scss/maket7.scss */
.sportsmen-hr {
  border: transparent;
  border-radius: 3px;
  position: absolute;
  z-index: -1;
  top: 110px;
  left: -49px;
  background-color: #936eea;
  width: 268.26px;
  transform: rotate(-47deg);
  height: 3px;
}

/* line 279, E:/1/макет 7/scss/maket7.scss */
.criss-cross {
  position: absolute;
  top: 10px;
  left: -14px;
  z-index: 2;
}

/* line 284, E:/1/макет 7/scss/maket7.scss */
.criss-cross .criss {
  background-color: #9173e6;
  border: 1px solid #5e42b0;
  opacity: 0.3;
  height: 15px;
  width: 3px;
  position: relative;
  box-sizing: border-box;
}

/* line 291, E:/1/макет 7/scss/maket7.scss */
.criss-cross .criss:nth-child(2) {
  opacity: 1;
  left: 21px;
  top: -6px;
}

/* line 296, E:/1/макет 7/scss/maket7.scss */
.criss-cross .criss:nth-child(3) {
  display: none;
  opacity: 1;
  top: 240px;
  left: 475px;
}

/* line 303, E:/1/макет 7/scss/maket7.scss */
.criss-cross .criss::after {
  content: "";
  height: 3px;
  width: 15px;
  background-color: #9173e6;
  border: 1px solid #5e42b0;
  position: absolute;
  left: -7px;
  top: 5px;
  box-sizing: border-box;
}

/* line 312, E:/1/макет 7/scss/maket7.scss */
.wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: flex-end;
}

/* line 321, E:/1/макет 7/scss/maket7.scss */
.slides {
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;
  position: absolute;
  padding-bottom: 37px;
  box-sizing: border-box;
  text-decoration: none;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

/* line 334, E:/1/макет 7/scss/maket7.scss */
.sl__title {
  display: flex;
  justify-content: flex-start;
  margin-top: 81px;
  margin-bottom: 27px;
}

/* line 339, E:/1/макет 7/scss/maket7.scss */
.sl__title-number {
  vertical-align: middle;
  margin-right: 12px;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-family: 'Proxima Nova Bold';
  color: #000000;
}

/* line 347, E:/1/макет 7/scss/maket7.scss */
.sl__title-hr {
  margin-top: 3px;
  background-color: #5e42b0;
  width: auto;
  height: 4px;
  border-radius: 2px;
}

/* line 354, E:/1/макет 7/scss/maket7.scss */
.sl__title-text {
  color: #c1c1c1;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-family: 'Proxima Nova Bold';
}

/* line 361, E:/1/макет 7/scss/maket7.scss */
.sl__title-descr {
  margin-bottom: 32px;
  font-family: 'Proxima Nova Rg';
  text-align: left;
  color: #000000;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.75px;
}

/* line 372, E:/1/макет 7/scss/maket7.scss */
.slide1 {
  height: 100%;
}

/* line 375, E:/1/макет 7/scss/maket7.scss */
.slide2 {
  background-color: #f5f4f9;
  height: 100%;
}

/* line 379, E:/1/макет 7/scss/maket7.scss */
.slide3 {
  height: 100%;
  background: #5e42b0;
  color: #ffffff;
}

/* line 383, E:/1/макет 7/scss/maket7.scss */
.slide3 .sl__title-hr {
  background-color: #ffffff;
}

/* line 386, E:/1/макет 7/scss/maket7.scss */
.slide3 .sl__title-descr {
  color: #ffffff;
}

/* line 390, E:/1/макет 7/scss/maket7.scss */
[id^='slide']:checked + .slides {
  opacity: 1;
  z-index: 1;
}

/* line 394, E:/1/макет 7/scss/maket7.scss */
.sl1 {
  display: none;
}

/* line 397, E:/1/макет 7/scss/maket7.scss */
.controls {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 27px;
  z-index: 1;
  box-sizing: border-box;
  font-size: 0;
}

/* line 406, E:/1/макет 7/scss/maket7.scss */
.label1 {
  cursor: pointer;
  display: inline-block;
  background-color: #d8d8d8;
  box-sizing: border-box;
  height: 10px;
  margin-right: 12px;
  width: 10px;
  border-radius: 50%;
  transition: background ease-in-out .5s;
}

/* line 416, E:/1/макет 7/scss/maket7.scss */
.label1:last-child {
  margin-right: 0;
}

/* line 420, E:/1/макет 7/scss/maket7.scss */
.label1:hover,
#slide1:checked ~ .controls .label1:nth-of-type(1),
#slide2:checked ~ .controls .label1:nth-of-type(2) {
  background-color: #5c3caf;
}

/* line 425, E:/1/макет 7/scss/maket7.scss */
#slide3:checked ~ .controls .label1:nth-of-type(3) {
  background-color: #20153d;
}

/* line 428, E:/1/макет 7/scss/maket7.scss */
.block3 {
  position: relative;
}

/* line 430, E:/1/макет 7/scss/maket7.scss */
.block3 .wrapper .slide1 {
  height: 100%;
}

/* line 433, E:/1/макет 7/scss/maket7.scss */
.block3 .wrapper .slide2 {
  background-color: #f5f4f9;
  height: 100%;
}

/* line 437, E:/1/макет 7/scss/maket7.scss */
.block3 .wrapper .slide3 {
  background-color: #090c35;
}

/* line 442, E:/1/макет 7/scss/maket7.scss */
.block3 .wrapper .slide3 .sl__title-number {
  color: #8765dd;
}

/* line 445, E:/1/макет 7/scss/maket7.scss */
.block3 .wrapper .slide3 .sl__title-descr {
  color: #ffffff;
}

/* line 451, E:/1/макет 7/scss/maket7.scss */
.block3 .cross__part1 {
  margin-bottom: 241px;
}

/* line 455, E:/1/макет 7/scss/maket7.scss */
.block3 .sportsmen {
  left: calc((100% - 300px) / 2);
  top: 102px;
}

/* line 458, E:/1/макет 7/scss/maket7.scss */
.block3 .sportsmen-img {
  background: url("../images/320/img3.png");
  width: 300px;
  height: 248px;
}

/* line 463, E:/1/макет 7/scss/maket7.scss */
.block3 .sportsmen-hr {
  top: 174px;
  left: 20px;
  width: 143.28px;
}

/* line 467, E:/1/макет 7/scss/maket7.scss */
.block3 .sportsmen-hr:nth-of-type(2) {
  width: 119.85px;
  left: 174px;
  top: 65px;
}

/* line 473, E:/1/макет 7/scss/maket7.scss */
.block3 .sportsmen .criss-cross {
  top: -4px;
  left: 41px;
  z-index: 2;
}

/* line 480, E:/1/макет 7/scss/maket7.scss */
.label1:hover,
#slide4:checked ~ .controls .label1:nth-of-type(1),
#slide5:checked ~ .controls .label1:nth-of-type(2) {
  background-color: #5c3caf;
}

/* line 485, E:/1/макет 7/scss/maket7.scss */
#slide6:checked ~ .controls .label1:nth-of-type(3) {
  background-color: #20153d;
}

/* line 488, E:/1/макет 7/scss/maket7.scss */
.child1 {
  height: auto;
  padding: 50%;
  width: 100%;
  position: relative;
  background: url("../images/320/img4.png") no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

/* line 496, E:/1/макет 7/scss/maket7.scss */
.child1:nth-child(3) {
  background: url("../images/320/img5.png") no-repeat;
  background-size: cover;
}

/* line 500, E:/1/макет 7/scss/maket7.scss */
.child1:nth-child(5) {
  background: url("../images/320/img6.png") no-repeat;
  background-size: cover;
}

/* line 505, E:/1/макет 7/scss/maket7.scss */
.child2 {
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 35px 44px 41px 18px;
  box-sizing: border-box;
}

/* line 510, E:/1/макет 7/scss/maket7.scss */
.child2-title {
  color: #e7e7e7;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-family: 'Proxima Nova Bold';
  margin-bottom: 23px;
}

/* line 518, E:/1/макет 7/scss/maket7.scss */
.child2-descr {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.8px;
  font-family: 'Proxima Nova Rg';
  margin-bottom: 13px;
}

/* line 526, E:/1/макет 7/scss/maket7.scss */
.child2-link {
  display: block;
  border: none;
  background-color: #5d40ad;
  width: 22px;
  height: 5px;
  border-radius: 5px;
  text-decoration: none;
}

/* line 536, E:/1/макет 7/scss/maket7.scss */
.link_container {
  display: block;
  text-align: left;
  padding: 10px 0;
  box-sizing: border-box;
}

/* line 541, E:/1/макет 7/scss/maket7.scss */
.link_container:hover .child2-link {
  background-color: orangered;
}

/* line 546, E:/1/макет 7/scss/maket7.scss */
.block_number {
  display: inline-block;
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;
  bottom: -12px;
  left: 19px;
  padding: 26px;
  box-sizing: border-box;
  background-color: #5e42b0;
}

/* line 558, E:/1/макет 7/scss/maket7.scss */
.number {
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-family: 'Proxima Nova Bold';
  color: #f5f6f7;
}

/* line 565, E:/1/макет 7/scss/maket7.scss */
.number_hr {
  margin-top: 3px;
  opacity: 0.3;
  background-color: #ffffff;
  border-radius: 2px;
  width: auto;
  height: 4px;
}

/* line 573, E:/1/макет 7/scss/maket7.scss */
.container2 {
  margin: 0 auto;
  max-width: 320px;
}

/* line 577, E:/1/макет 7/scss/maket7.scss */
.block5 {
  background: url("../images/320/img8.png") no-repeat;
  background-size: cover;
}

/* line 580, E:/1/макет 7/scss/maket7.scss */
.block5__head {
  padding-top: 97px;
  padding-bottom: 72px;
}

/* line 584, E:/1/макет 7/scss/maket7.scss */
.block5__logo {
  margin: auto;
  margin-bottom: 57px;
  width: 73px;
  height: 78px;
  background: url("../images/320/img7.png") no-repeat;
}

/* line 591, E:/1/макет 7/scss/maket7.scss */
.block5__hr {
  position: absolute;
  z-index: -1;
  top: calc(140/295.84*100%);
  left: calc(-15/295.84*100%);
  border: none;
  width: 88.62px;
  height: 4px;
  background-color: #936eea;
  transform: rotate(-45deg);
}

/* line 601, E:/1/макет 7/scss/maket7.scss */
.block5__hr:nth-of-type(2) {
  width: 153.84px;
  top: calc(146/295.84*100%);
  left: calc(97/295.84*100%);
}

/* line 607, E:/1/макет 7/scss/maket7.scss */
.block5__title {
  margin: auto;
  position: relative;
  font-family: 'Proxima Nova Bold';
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

/* line 615, E:/1/макет 7/scss/maket7.scss */
.block5__title1 {
  color: #ffffff;
  font-size: 34px;
  letter-spacing: 1.7px;
}

/* line 620, E:/1/макет 7/scss/maket7.scss */
.block5__title2 {
  color: #9b8ec1;
  font-size: 15px;
  letter-spacing: 0.75px;
}

/* line 625, E:/1/макет 7/scss/maket7.scss */
.block5 .block__buttons {
  margin-bottom: 127px;
}

/* line 629, E:/1/макет 7/scss/maket7.scss */
footer {
  padding-top: 19px;
  padding-bottom: 13px;
  background-color: rgba(14, 19, 54, 0.6);
  box-sizing: border-box;
}

/* line 635, E:/1/макет 7/scss/maket7.scss */
.logo__footer {
  display: none;
}

/* line 638, E:/1/макет 7/scss/maket7.scss */
.link__footer {
  display: none;
}

/* line 641, E:/1/макет 7/scss/maket7.scss */
.soc__network {
  display: block;
  text-align: center;
  word-spacing: 41px;
}

/* line 646, E:/1/макет 7/scss/maket7.scss */
.svg__style {
  fill: #ffffff;
  width: 18px;
  height: 18px;
}

/* line 650, E:/1/макет 7/scss/maket7.scss */
.svg__style:hover {
  fill: orangered;
}

@media (min-width: 768px) {
  /* line 655, E:/1/макет 7/scss/maket7.scss */
  .container1 {
    max-width: 727px;
  }
  /* line 658, E:/1/макет 7/scss/maket7.scss */
  .container2 {
    max-width: 768px;
  }
  /* line 661, E:/1/макет 7/scss/maket7.scss */
  .block1 {
    background: url("../images/768/img1.png") no-repeat;
    background-size: cover;
  }
  /* line 664, E:/1/макет 7/scss/maket7.scss */
  .block1__title {
    padding: 0 63px;
    margin-top: 194px;
    margin-bottom: 184px;
  }
  /* line 668, E:/1/макет 7/scss/maket7.scss */
  .block1__title-item {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 3.52px;
  }
  /* line 672, E:/1/макет 7/scss/maket7.scss */
  .block1__title-item:nth-child(2) {
    margin-top: 10px;
    padding-left: 108px;
    letter-spacing: 3.52px;
  }
  /* line 679, E:/1/макет 7/scss/maket7.scss */
  .flex .block1__column:nth-child(4) {
    order: 1;
  }
  /* line 682, E:/1/макет 7/scss/maket7.scss */
  .flex .block1__column:nth-child(3) {
    order: 2;
  }
  /* line 686, E:/1/макет 7/scss/maket7.scss */
  .logo {
    margin-top: 52px;
    background: url("../images/768/img2.png");
  }
  /* line 690, E:/1/макет 7/scss/maket7.scss */
  .hr {
    top: 108px;
    background-color: #5d40ad;
    width: 406.21px;
    transform: rotate(-50deg);
    height: 4px;
  }
  /* line 697, E:/1/макет 7/scss/maket7.scss */
  .flex2 {
    justify-content: space-between;
    align-items: flex-start;
  }
  /* line 701, E:/1/макет 7/scss/maket7.scss */
  .header__link {
    display: block;
    margin-top: 57px;
  }
  /* line 705, E:/1/макет 7/scss/maket7.scss */
  .block__buttons {
    padding: 0 38px;
    box-sizing: border-box;
    margin-bottom: 91px;
  }
  /* line 709, E:/1/макет 7/scss/maket7.scss */
  .block__buttons_item {
    margin-right: 30px;
    padding: 19px 34px;
    box-shadow: 8px 14px 24px #0a0e34;
    border-radius: 40px;
  }
  /* line 717, E:/1/макет 7/scss/maket7.scss */
  .button__icon {
    width: 37px;
    height: 37px;
    margin-right: 26px;
  }
  /* line 721, E:/1/макет 7/scss/maket7.scss */
  .block__buttons_item:nth-child(2) .button__icon {
    background: url("../images/768/icon-google-play.png");
    width: 36px;
    height: 39px;
  }
  /* line 727, E:/1/макет 7/scss/maket7.scss */
  .button__title {
    font-size: 14px;
    letter-spacing: 0.7px;
  }
  /* line 732, E:/1/макет 7/scss/maket7.scss */
  .topmenu {
    margin-top: 0;
    margin-bottom: 106px;
  }
  /* line 735, E:/1/макет 7/scss/maket7.scss */
  .topmenu__a {
    padding: 10px 28.5px;
    font-size: 16px;
    letter-spacing: 0.8px;
  }
  /* line 741, E:/1/макет 7/scss/maket7.scss */
  .block2.flex {
    flex-direction: column;
  }
  /* line 744, E:/1/макет 7/scss/maket7.scss */
  .block3.flex {
    flex-direction: column;
  }
  /* line 747, E:/1/макет 7/scss/maket7.scss */
  .block2 {
    position: relative;
  }
  /* line 749, E:/1/макет 7/scss/maket7.scss */
  .block2 .container1 {
    max-width: 768px;
    padding-left: 287px;
    padding-right: 56px;
    box-sizing: border-box;
  }
  /* line 757, E:/1/макет 7/scss/maket7.scss */
  .cross__part1 {
    margin-bottom: 19px;
  }
  /* line 759, E:/1/макет 7/scss/maket7.scss */
  .cross__part1-title {
    font-size: 90px;
    margin-top: 82px;
    margin-left: 0;
  }
  /* line 766, E:/1/макет 7/scss/maket7.scss */
  .sportsmen {
    right: calc((100% + 112px) / 2);
    top: 116px;
  }
  /* line 769, E:/1/макет 7/scss/maket7.scss */
  .sportsmen-img {
    background: url("../images/768/img2.png") no-repeat;
    background-size: cover;
    width: 497px;
    height: 699px;
  }
  /* line 775, E:/1/макет 7/scss/maket7.scss */
  .sportsmen-hr {
    top: 236px;
    left: -89px;
    height: 5px;
    width: 600px;
  }
  /* line 782, E:/1/макет 7/scss/maket7.scss */
  .criss-cross {
    top: -17px;
    left: 198px;
  }
  /* line 786, E:/1/макет 7/scss/maket7.scss */
  .wrapper {
    margin: 0;
    position: static;
    width: auto;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
  }
  /* line 794, E:/1/макет 7/scss/maket7.scss */
  .slides {
    opacity: 1;
    width: 100%;
    z-index: 1;
    position: static;
    padding-bottom: 37px;
    transition: none;
  }
  /* line 803, E:/1/макет 7/scss/maket7.scss */
  .sl__title {
    margin-top: 40px;
    margin-bottom: 32px;
  }
  /* line 806, E:/1/макет 7/scss/maket7.scss */
  .sl__title-number {
    margin-right: 12px;
    font-size: 18px;
    letter-spacing: 0.9px;
  }
  /* line 811, E:/1/макет 7/scss/maket7.scss */
  .sl__title-hr {
    margin-top: 3px;
    height: 5px;
    border-radius: 2px;
  }
  /* line 816, E:/1/макет 7/scss/maket7.scss */
  .sl__title-text {
    font-size: 36px;
    letter-spacing: 1.8px;
  }
  /* line 820, E:/1/макет 7/scss/maket7.scss */
  .sl__title-descr {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.9px;
  }
  /* line 828, E:/1/макет 7/scss/maket7.scss */
  .controls {
    display: none;
  }
  /* line 831, E:/1/макет 7/scss/maket7.scss */
  .label1 {
    display: none;
  }
  /* line 835, E:/1/макет 7/scss/maket7.scss */
  .block3 .container1 {
    max-width: 768px;
    padding-left: 33px;
    padding-right: 312px;
    box-sizing: border-box;
  }
  /* line 841, E:/1/макет 7/scss/maket7.scss */
  .block3 .cross__part1 {
    margin-bottom: 19px;
  }
  /* line 844, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen {
    left: calc((100% - 98px) / 2);
    top: 70px;
  }
  /* line 847, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen-img {
    background: url("../images/768/img3.png") no-repeat;
    background-size: cover;
    width: 690px;
    height: 565px;
  }
  /* line 853, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen-hr {
    top: 324px;
    left: 71px;
    width: 419px;
    height: 5px;
  }
  /* line 858, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen-hr:nth-of-type(2) {
    width: 119.85px;
    left: 174px;
    top: 65px;
    height: 0;
  }
  /* line 865, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen .criss-cross {
    top: 76px;
    left: 209px;
  }
  /* line 868, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen .criss-cross .criss {
    opacity: 1;
  }
  /* line 870, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen .criss-cross .criss:nth-child(2) {
    opacity: 0.3;
  }
  /* line 873, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen .criss-cross .criss:nth-child(3) {
    display: none;
  }
  /* line 880, E:/1/макет 7/scss/maket7.scss */
  .child1 {
    padding-bottom: 26%;
    background: url("../images/768/img4.png") no-repeat;
    background-size: cover;
  }
  /* line 884, E:/1/макет 7/scss/maket7.scss */
  .child1:nth-child(3) {
    background: url("../images/768/img5.png") no-repeat;
    background-size: cover;
  }
  /* line 888, E:/1/макет 7/scss/maket7.scss */
  .child1:nth-child(5) {
    background: url("../images/768/img6.png") no-repeat;
    background-size: cover;
  }
  /* line 893, E:/1/макет 7/scss/maket7.scss */
  .child2 {
    padding: 77px 77px 60px 34px;
  }
  /* line 895, E:/1/макет 7/scss/maket7.scss */
  .child2-title {
    font-size: 90px;
    letter-spacing: 0;
    margin-bottom: 36px;
  }
  /* line 900, E:/1/макет 7/scss/maket7.scss */
  .child2-descr {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.2px;
    margin-bottom: 23px;
  }
  /* line 907, E:/1/макет 7/scss/maket7.scss */
  .block_number {
    bottom: -36px;
    left: 33px;
    padding: 43px;
    box-sizing: border-box;
  }
  /* line 913, E:/1/макет 7/scss/maket7.scss */
  .number {
    font-size: 24px;
    letter-spacing: 1.2px;
  }
  /* line 917, E:/1/макет 7/scss/maket7.scss */
  .number_hr {
    margin: 0 3px;
    margin-top: 9px;
    height: 5px;
  }
  /* line 922, E:/1/макет 7/scss/maket7.scss */
  .block5 {
    background: url("../images/768/img7.png");
    background-size: cover;
  }
  /* line 925, E:/1/макет 7/scss/maket7.scss */
  .block5__head {
    padding-top: 128px;
    padding-bottom: 198px;
  }
  /* line 929, E:/1/макет 7/scss/maket7.scss */
  .block5__logo {
    margin-bottom: 82px;
    width: 130px;
    height: 137px;
    background: url("../images/768/logo2.png") no-repeat;
    background-size: cover;
  }
  /* line 936, E:/1/макет 7/scss/maket7.scss */
  .block5__hr {
    width: 207.71px;
    height: 8px;
  }
  /* line 939, E:/1/макет 7/scss/maket7.scss */
  .block5__hr:nth-of-type(2) {
    width: 417.40px;
  }
  /* line 943, E:/1/макет 7/scss/maket7.scss */
  .block5__title1 {
    font-size: 80px;
    letter-spacing: 4.85px;
  }
  /* line 947, E:/1/макет 7/scss/maket7.scss */
  .block5__title2 {
    font-size: 36px;
  }
  /* line 950, E:/1/макет 7/scss/maket7.scss */
  .block5 .block__buttons {
    margin-bottom: 129px;
  }
  /* line 954, E:/1/макет 7/scss/maket7.scss */
  footer {
    padding-top: 35px;
    padding-bottom: 30px;
  }
  /* line 958, E:/1/макет 7/scss/maket7.scss */
  .svg__style {
    width: 27px;
    height: 27px;
  }
}

@media (min-width: 978px) {
  /* line 964, E:/1/макет 7/scss/maket7.scss */
  .container3 {
    max-width: 879px;
    margin: 0 auto;
  }
  /* line 968, E:/1/макет 7/scss/maket7.scss */
  .block_number {
    left: calc(50% - 456px);
  }
  /* line 972, E:/1/макет 7/scss/maket7.scss */
  .block2 .container1 {
    max-width: 978px;
    padding-left: 497px;
  }
  /* line 976, E:/1/макет 7/scss/maket7.scss */
  .block2 .sportsmen {
    right: calc((100% - 16px) / 2);
  }
  /* line 981, E:/1/макет 7/scss/maket7.scss */
  .block3 .container1 {
    max-width: 978px;
    padding-right: 522px;
  }
  /* line 985, E:/1/макет 7/scss/maket7.scss */
  .block3 .cross__part1 {
    margin-bottom: 19px;
  }
  /* line 988, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen {
    left: calc((100% - 307px) / 2);
    top: 70px;
  }
}

@media (min-width: 1100px) {
  /* line 995, E:/1/макет 7/scss/maket7.scss */
  .container1 {
    max-width: 1100px;
  }
  /* line 998, E:/1/макет 7/scss/maket7.scss */
  .hr {
    right: calc(117 / 243.53 * 100%);
  }
  /* line 1002, E:/1/макет 7/scss/maket7.scss */
  .block2 .container1 {
    max-width: 1100px;
    padding-left: 534px;
  }
  /* line 1008, E:/1/макет 7/scss/maket7.scss */
  .block3 .container1 {
    max-width: 1100px;
    padding-right: 644px;
  }
  /* line 1014, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen-hr:nth-of-type(2) {
    width: 300px;
    left: 397px;
    top: 161px;
    height: 5px;
  }
  /* line 1023, E:/1/макет 7/scss/maket7.scss */
  .container3 {
    max-width: 420px;
    margin: 0;
  }
  /* line 1027, E:/1/макет 7/scss/maket7.scss */
  .block4.flex {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  /* line 10, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(1) {
    order: 1;
  }
  /* line 10, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(2) {
    order: 2;
  }
  /* line 10, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(3) {
    order: 3;
  }
  /* line 10, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(4) {
    order: 4;
  }
  /* line 10, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(5) {
    order: 5;
  }
  /* line 10, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(6) {
    order: 6;
  }
  /* line 15, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(3) {
    order: 4;
  }
  /* line 15, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(7) {
    order: 8;
  }
  /* line 15, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(11) {
    order: 12;
  }
  /* line 15, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(15) {
    order: 16;
  }
  /* line 15, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(19) {
    order: 20;
  }
  /* line 15, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(23) {
    order: 24;
  }
  /* line 20, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(4) {
    order: 3;
  }
  /* line 20, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(6) {
    order: 5;
  }
  /* line 20, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(8) {
    order: 7;
  }
  /* line 20, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(10) {
    order: 9;
  }
  /* line 20, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(12) {
    order: 11;
  }
  /* line 20, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(14) {
    order: 13;
  }
  /* line 1033, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(4n+4) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  /* line 1038, E:/1/макет 7/scss/maket7.scss */
  .child1 {
    padding: 182.5px 25%;
    width: 50%;
    height: auto;
    background: url("../images/1920/img4.png") center no-repeat;
    background-size: cover;
    box-sizing: border-box;
  }
  /* line 1045, E:/1/макет 7/scss/maket7.scss */
  .child1:nth-child(3) {
    background: url("../images/1920/img5.png") center no-repeat;
    background-size: cover;
  }
  /* line 1049, E:/1/макет 7/scss/maket7.scss */
  .child1:nth-child(5) {
    background: url("../images/1920/img6.png") center no-repeat;
    background-size: cover;
  }
  /* line 1054, E:/1/макет 7/scss/maket7.scss */
  .child.child2 {
    width: 50%;
    padding: 257px 0 112px 127px;
  }
  /* line 1057, E:/1/макет 7/scss/maket7.scss */
  .child.child2:nth-child(4) {
    padding: 190px 130px 52px 162px;
  }
  /* line 1060, E:/1/макет 7/scss/maket7.scss */
  .child.child2 .child2-title {
    font-size: 80px;
    letter-spacing: 1.4px;
    margin-bottom: 92px;
  }
  /* line 1065, E:/1/макет 7/scss/maket7.scss */
  .child.child2 .child2-descr {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.2px;
    margin-bottom: 70px;
    box-sizing: border-box;
  }
  /* line 1073, E:/1/макет 7/scss/maket7.scss */
  .block_number {
    bottom: auto;
    top: 211px;
    left: calc(100% - 84px);
    padding: 58.5px 70.422px;
  }
  /* line 1080, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(4n-1) .block_number {
    left: -84px;
  }
  /* line 1084, E:/1/макет 7/scss/maket7.scss */
  .number {
    font-size: 24px;
    letter-spacing: 1.2px;
  }
  /* line 1088, E:/1/макет 7/scss/maket7.scss */
  .number_hr {
    margin-top: 9px;
    height: 5px;
  }
}

@media (min-width: 1531px) {
  /* line 1094, E:/1/макет 7/scss/maket7.scss */
  .container1 {
    max-width: 1531px;
  }
  /* line 1097, E:/1/макет 7/scss/maket7.scss */
  .container3 {
    max-width: 833px;
  }
  /* line 1100, E:/1/макет 7/scss/maket7.scss */
  .block1 {
    background: url("../images/1920/img1.png") no-repeat;
    background-size: cover;
  }
  /* line 1103, E:/1/макет 7/scss/maket7.scss */
  .block1__title {
    padding: 0;
    margin-top: 309px;
    margin-bottom: 20px;
  }
  /* line 1107, E:/1/макет 7/scss/maket7.scss */
  .block1__title-item {
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 4.96px;
  }
  /* line 1111, E:/1/макет 7/scss/maket7.scss */
  .block1__title-item:nth-child(2) {
    padding-left: 0;
    text-align: right;
    letter-spacing: 4.5px;
    z-index: 0;
  }
  /* line 1119, E:/1/макет 7/scss/maket7.scss */
  .flex .block1__column:nth-child(4) {
    align-self: flex-end;
  }
  /* line 1123, E:/1/макет 7/scss/maket7.scss */
  .hr {
    right: calc(1005 / 1920 * 100%);
    top: 75px;
    width: 406.21px;
    height: 7px;
  }
  /* line 1129, E:/1/макет 7/scss/maket7.scss */
  .block__buttons {
    margin-bottom: 110px;
  }
  /* line 1131, E:/1/макет 7/scss/maket7.scss */
  .block__buttons_item {
    margin-right: 50px;
  }
  /* line 1135, E:/1/макет 7/scss/maket7.scss */
  .topmenu {
    margin-bottom: 171px;
  }
  /* line 1139, E:/1/макет 7/scss/maket7.scss */
  .block2 .container1 {
    max-width: 1531px;
    padding-left: 806px;
    margin: 0 auto;
  }
  /* line 1144, E:/1/макет 7/scss/maket7.scss */
  .block2 .sportsmen {
    right: calc((100% - 66px) / 2);
    top: 46px;
  }
  /* line 1147, E:/1/макет 7/scss/maket7.scss */
  .block2 .sportsmen-img {
    background: url("../images/1920/img2.png") no-repeat;
    width: 725px;
    height: 1105px;
  }
  /* line 1152, E:/1/макет 7/scss/maket7.scss */
  .block2 .sportsmen-hr {
    width: 880.31px;
    top: 358px;
    left: -169px;
    transform: rotate(-50deg);
  }
  /* line 1160, E:/1/макет 7/scss/maket7.scss */
  .criss-cross {
    top: 124px;
    left: 78px;
  }
  /* line 1165, E:/1/макет 7/scss/maket7.scss */
  .cross__part1 {
    margin-bottom: 30px;
  }
  /* line 1167, E:/1/макет 7/scss/maket7.scss */
  .cross__part1-title {
    font-size: 90px;
    margin-top: 112px;
    margin-left: 0;
  }
  /* line 1174, E:/1/макет 7/scss/maket7.scss */
  .slides {
    padding-right: 24px;
    padding-bottom: 61px;
  }
  /* line 1179, E:/1/макет 7/scss/maket7.scss */
  .sl__title {
    margin-top: 64px;
  }
  /* line 1181, E:/1/макет 7/scss/maket7.scss */
  .sl__title-number {
    margin-right: 13px;
  }
  /* line 1184, E:/1/макет 7/scss/maket7.scss */
  .sl__title-descr {
    font-size: 20px;
    letter-spacing: 1px;
  }
  /* line 1191, E:/1/макет 7/scss/maket7.scss */
  .block3 .container1 {
    margin: 0 auto;
    max-width: 1531px;
    padding-right: 785px;
    padding-left: 130px;
  }
  /* line 1197, E:/1/макет 7/scss/maket7.scss */
  .block3 .cross__part1 {
    margin-bottom: 19px;
  }
  /* line 1200, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen {
    left: calc((100% - 300px)/2);
    top: -36px;
  }
  /* line 1203, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen-img {
    background: url("../images/1920/img3.png") no-repeat;
    width: 991px;
    height: 815px;
  }
  /* line 1208, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen-hr {
    top: 580px;
    left: 120px;
    width: 425.3px;
    height: 7px;
  }
  /* line 1213, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen-hr:nth-of-type(2) {
    width: 421.17px;
    left: 582px;
    top: 234px;
    height: 7px;
  }
  /* line 1220, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen .criss-cross {
    top: 136px;
    left: 300px;
  }
  /* line 1223, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen .criss-cross .criss {
    opacity: 1;
  }
  /* line 1225, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen .criss-cross .criss:nth-child(2) {
    opacity: 0.3;
  }
  /* line 1228, E:/1/макет 7/scss/maket7.scss */
  .block3 .sportsmen .criss-cross .criss:nth-child(3) {
    display: block;
  }
  /* line 1235, E:/1/макет 7/scss/maket7.scss */
  .child1 {
    background: url("../images/1920/img4.png") no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
  }
  /* line 1239, E:/1/макет 7/scss/maket7.scss */
  .child1:nth-child(3) {
    background: url("../images/1920/img5.png") no-repeat;
    background-size: 100% 100%;
  }
  /* line 1243, E:/1/макет 7/scss/maket7.scss */
  .child1:nth-child(5) {
    background: url("../images/1920/img6.png") no-repeat;
    background-size: 100% 100%;
  }
  /* line 1250, E:/1/макет 7/scss/maket7.scss */
  .child.child2:nth-child(4) .child2-descr {
    padding-right: 83px;
  }
  /* line 1254, E:/1/макет 7/scss/maket7.scss */
  .child.child2 .child2-title {
    font-size: 90px;
  }
  /* line 1257, E:/1/макет 7/scss/maket7.scss */
  .child.child2 .child2-descr {
    padding-right: 300px;
  }
  /* line 1261, E:/1/макет 7/scss/maket7.scss */
  .block5 {
    background: url("../images/1920/img7.png");
    background-size: cover;
  }
  /* line 1264, E:/1/макет 7/scss/maket7.scss */
  .block5__head {
    padding-top: 229px;
    padding-bottom: 151px;
  }
  /* line 1267, E:/1/макет 7/scss/maket7.scss */
  .block5__head.flex {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  /* line 1273, E:/1/макет 7/scss/maket7.scss */
  .block5__hr {
    width: 209.03px;
    top: calc(120/295.84*100%);
    left: calc(-5/295.84*100%);
  }
  /* line 1278, E:/1/макет 7/scss/maket7.scss */
  .block5__title {
    margin: 0;
  }
  /* line 1281, E:/1/макет 7/scss/maket7.scss */
  .block5__logo {
    margin: 0 36px 0 0;
    flex-shrink: 0;
  }
  /* line 1285, E:/1/макет 7/scss/maket7.scss */
  .block5__title1 {
    text-align: left;
    font-size: 90px;
    letter-spacing: 4.96px;
  }
  /* line 1290, E:/1/макет 7/scss/maket7.scss */
  .block5__title2 {
    text-align: left;
  }
  /* line 1293, E:/1/макет 7/scss/maket7.scss */
  .block5 .block__buttons {
    margin-bottom: 197px;
  }
}

@media (min-width: 1920px) {
  /* line 1300, E:/1/макет 7/scss/maket7.scss */
  .child:nth-child(4n+4) .container3 {
    max-width: 670px;
  }
  /* line 1305, E:/1/макет 7/scss/maket7.scss */
  .child.child2:nth-child(4) {
    padding: 257px 108px 151px 171px;
  }
  /* line 1307, E:/1/макет 7/scss/maket7.scss */
  .child.child2:nth-child(4) .child2-descr {
    padding-right: 251px;
    margin-bottom: 92px;
  }
  /* line 1312, E:/1/макет 7/scss/maket7.scss */
  .child.child2:nth-child(4) .child2-title {
    margin-bottom: 70px;
  }
  /* line 1317, E:/1/макет 7/scss/maket7.scss */
  .child.child2:nth-child(6) .child2-descr {
    padding-right: 320px;
  }
  /* line 1321, E:/1/макет 7/scss/maket7.scss */
  .child.child2 .child2-descr {
    padding-right: 510px;
  }
  /* line 1325, E:/1/макет 7/scss/maket7.scss */
  .block_number {
    top: 211px;
    bottom: auto;
  }
  /* line 1329, E:/1/макет 7/scss/maket7.scss */
  .container4 {
    max-width: 1810px;
    margin: 0 auto;
  }
  /* line 1333, E:/1/макет 7/scss/maket7.scss */
  footer {
    padding-top: 71px;
    padding-bottom: 67px;
  }
  /* line 1336, E:/1/макет 7/scss/maket7.scss */
  footer .container4 .flex2 {
    justify-content: space-between;
  }
  /* line 1340, E:/1/макет 7/scss/maket7.scss */
  .footer_item {
    width: 33.33%;
  }
  /* line 1343, E:/1/макет 7/scss/maket7.scss */
  .logo__footer {
    display: block;
    background: url("../images/1920/logo3.png");
    width: 172px;
    height: 30px;
  }
  /* line 1349, E:/1/макет 7/scss/maket7.scss */
  .link__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  /* line 1353, E:/1/макет 7/scss/maket7.scss */
  .link__footer_li {
    padding: 0 10px;
  }
  /* line 1355, E:/1/макет 7/scss/maket7.scss */
  .link__footer_li:first-child {
    border-right: 2px solid #ffffff;
  }
  /* line 1359, E:/1/макет 7/scss/maket7.scss */
  .link__footer_a {
    color: #ffffff;
    font-family: "Proxima Nova Rg";
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
  }
  /* line 1365, E:/1/макет 7/scss/maket7.scss */
  .link__footer_a:hover {
    color: orangered;
  }
}

/*# sourceMappingURL=../css/maket7.map */