$img: "../images/";
$f1: "../fonts/proximanova/";
$f2: "../fonts/proximanova-semibold/";
@mixin wh{
    width: 100%;
    height: 100%;
}
@mixin order($order){
    @for $i from 1 through 6{
        .child:nth-child(#{$i}){
            order:$i;
        }
    }
    @for $i from 1 through 6{
        .child:nth-child(#{(4*$i) - 1}){
            order: 4*$i;
        }
    }
    @for $i from 1 through 6{
        .child:nth-child(#{(2*$i) + 2}){
            order:2*$i + 1;
        }
    }
}
    
@font-face {
    font-family: 'Proxima Nova Lt';
    src: url($f1 + 'subset-ProximaNova-Light.eot');
    src: url($f1 + 'subset-ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url($f1 + 'subset-ProximaNova-Light.woff2') format('woff2'),
        url($f1 + 'subset-ProximaNova-Light.woff') format('woff'),
        url($f1 + 'subset-ProximaNova-Light.ttf') format('truetype'),
        url($f1 + 'subset-ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url($f1 + 'subset-ProximaNova-Bold.eot');
    src: url($f1 + 'subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url($f1 + 'subset-ProximaNova-Bold.woff2') format('woff2'),
        url($f1 + 'subset-ProximaNova-Bold.woff') format('woff'),
        url($f1 + 'subset-ProximaNova-Bold.ttf') format('truetype'),
        url($f1 + 'subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url($f1 + 'subset-ProximaNova-Regular.eot');
    src: url($f1 + 'subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url($f1 + 'subset-ProximaNova-Regular.woff2') format('woff2'),
        url($f1 + 'subset-ProximaNova-Regular.woff') format('woff'),
        url($f1 + 'subset-ProximaNova-Regular.ttf') format('truetype'),
        url($f1 + 'subset-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url($f2 + 'subset-ProximaNova-Semibold.eot');
    src: url($f2 + 'subset-ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url($f2 + 'subset-ProximaNova-Semibold.woff2') format('woff2'),
        url($f2 + 'subset-ProximaNova-Semibold.woff') format('woff'),
        url($f2 + 'subset-ProximaNova-Semibold.ttf') format('truetype'),
        url($f2 + 'subset-ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
.overflow{
    overflow: hidden;
}
.container1{
    margin: 0 auto;
    max-width: 300px;
}
.block1 {
    background: url($img + "320/img1.png") no-repeat;
    background-size: cover;
    text-align: center;
    &__title{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 141px;
        margin-bottom: 118px;
    &-item{
        width: 100%;
        color: #ffffff;
        font-family: 'Proxima Nova Bold';
        font-size: 32px;
        line-height: 31.32px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 1.76px;
        z-index: 1;
        &:first-child{
            position: relative;
        }
        &:nth-child(2){
            margin-top: 28px;
            padding-left: 55px;
            letter-spacing: 1.6px;
            }
        }
    }
}
.logo {
    display:inline-block;
    margin-top: 39px;
    width: auto;
    height: 100%;
}
.hr {
    border: none;
    position: absolute;
    z-index: -1;
    top: 61px;
    right: calc(39 / 243.53 * 100%);
    background-color: #5d40ad;
    width: 222.7px;
    transform: rotate(-50deg);
    height: 4px;
    }
.block__buttons{
    display: flex;
    justify-content: space-between;
    &_item{
        margin-right: 8px;
        padding: 11px 17px;
        box-sizing: border-box;
        box-shadow: 0 10px 16px #0a0e34;
        background-color: #5e42b0;
        border-radius: 40px;
        width: 50%;
        height: auto;
        text-decoration: none;
        &:last-child{
            margin-right: 0px;
        }
        &:hover{
            background-color: lighten($color: #5e42b0, $amount: 15);
        }
    }
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    @include wh;
    &__icon{
        width: 20px;
        height: 20px;
        margin-right: 10px; 
        fill: #ffffff;
    .block__buttons_item:nth-child(2)  &{
        background: url($img + '320/icon-google-play.png');
        width: 16px;
        height: 18px;
        }
    }
    &__title{
        color: #ffffff;
        font-size: 8px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        &_Part1{
            font-family: 'Proxima Nova Lt';
            padding-bottom: 4px;
        }
        &_Part2{
            font-family: 'Proxima Nova Semibold';
        }
    }    
}
.topmenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    flex-wrap: wrap;
    padding:0;
    margin-top: 40px;
    margin-bottom: 20px;
        &__li {
            flex-flow: 1;
            list-style:none;
            background-color: transparent;
        }
        &__a {
            display:block;
            text-align: center;
            color: #9071ea;
            padding: 5px 16.5px;
            font-family: 'Proxima Nova Lt';
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            @include wh;
            box-sizing: border-box;
        }
        &__a:hover{
            color: #ffffff;
            background-color: lighten($color: #9071ea, $amount: 15);
            transition: background-color 0.3s;
            border-radius: 10px;
        }
}
.flex{
    display: flex;
    flex-direction: column;
}
.flex2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__link{
    color: #ffffff;
    font-family: 'Proxima Nova Lt';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
    display: none;
    &:hover{
        color: orangered;
    }
}
.block2{
    position: relative;
}
.cross{
    &__part1{ 
        @include wh;
        margin-bottom: 232px;
            &-title{
            color: #e7e7e7;
            font-family: 'Proxima Nova Bold';
            font-size: 50px;
            text-transform: uppercase;
            margin-top: 25px;
            margin-left: 0;
        } 
    }
    &__part2{
        position:relative;
   }
}
.sportsmen{
    position: absolute;
    right: calc((100% - 192px) / 2);
    top: 80px;
    z-index: 3;
    &-img{
        position: relative;
        background: url($img + "320/img2.png") no-repeat;
        top: 0;
        left: 0;
        width: 192px;
        height: 281px;
    }
    &-hr{
        border: transparent;
        border-radius: 3px;
        position: absolute;
        z-index: -1;
        top: 110px;
        left: -49px;
        background-color: #936eea;
        width: 268.26px;
        transform: rotate(-47deg);
        height: 3px;
    }
}
.criss-cross{
    position: absolute;
    top: 10px;
    left: -14px;
    z-index: 2;
    .criss {
        background-color: #9173e6;
        border: 1px solid #5e42b0;
        opacity: 0.3;
        height: 15px; width: 3px;
        position: relative;
        box-sizing: border-box;
        &:nth-child(2){
            opacity: 1;
            left: 21px;
            top:-6px;
        }
        &:nth-child(3){
            display: none;
            opacity: 1;
            top:240px;
            left: 475px;
            }
        }
        .criss::after {
        content: "";
        height: 3px; width: 15px;
        background-color: #9173e6;
        border: 1px solid #5e42b0;
        position: absolute; left: -7px; top: 5px;
        box-sizing: border-box;
    }
}
.wrapper {
    margin:0 auto;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: flex-end;
}
.slides {
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    position: absolute;
    padding-bottom: 37px;
    box-sizing: border-box;
    text-decoration: none;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
.sl{
    &__title{
    display: flex;
    justify-content: flex-start;
    margin-top: 81px;
    margin-bottom: 27px;
    &-number{
    vertical-align: middle;
    margin-right: 12px;
    font-size: 14px;
    letter-spacing: 0.7px;
    font-family: 'Proxima Nova Bold';
    color: #000000;
    }
    &-hr{
    margin-top:3px;
    background-color: #5e42b0;
    width: auto;
    height: 4px;
    border-radius: 2px;
    }
    &-text{
    color: #c1c1c1;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-family: 'Proxima Nova Bold';
    }  
    &-descr{
        margin-bottom: 32px;
        font-family: 'Proxima Nova Rg';
        text-align: left;
        color: #000000;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.75px; 
        } 
    }
}
.slide1{
    height: 100%;
}
.slide2{ 
   background-color: #f5f4f9;
   height: 100%;
 }
 .slide3{ 
    height: 100%;
    background: #5e42b0;
    color: #ffffff;
    .sl__title-hr {
        background-color: #ffffff;
    } 
    .sl__title-descr{
       color: #ffffff;
    }
 }
[id^='slide']:checked + .slides{
	opacity: 1;
    z-index: 1;
}
.sl1 {
	display: none;
}
.controls {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 27px;
    z-index: 1;
    box-sizing: border-box;
    font-size: 0;
}
.label1 {
	cursor: pointer;
    display: inline-block;
    background-color: #d8d8d8;
    box-sizing: border-box;
	height: 10px;
	margin-right: 12px;
    width: 10px;
	border-radius: 50%;
    transition: background ease-in-out .5s;
    &:last-child{
        margin-right: 0;
    }
}
.label1:hover, 
#slide1:checked ~ .controls .label1:nth-of-type(1),
#slide2:checked ~ .controls .label1:nth-of-type(2) {
	background-color: #5c3caf;
}
#slide3:checked ~ .controls .label1:nth-of-type(3){
    background-color: darken($color: #5c3caf, $amount: 30);
}
.block3{
    position: relative;
    .wrapper .slide1{
            height: 100%;
        }
    .wrapper .slide2{ 
        background-color: #f5f4f9;
        height: 100%;
        }
    .wrapper .slide3{ 
            background-color: #090c35;
        }
    .wrapper .slide3 .sl{
            &__title{
            &-number{
            color: #8765dd;
            }
            &-descr{
                color: #ffffff;
                } 
            }
        }
    .cross{
        &__part1{ 
            margin-bottom: 241px;
        }
    }
    .sportsmen{
            left: calc((100% - 300px) / 2);
            top: 102px;
        &-img{
            background: url($img + "320/img3.png");
            width: 300px;
            height: 248px;
        }
        &-hr{
            top: 174px;
            left: 20px;
            width: 143.28px;
            &:nth-of-type(2){
                width: 119.85px;
                left: 174px;
                top: 65px;
            }
        } 
        .criss-cross{
            top: -4px;
            left: 41px;
            z-index: 2;
        }
    }
}
.label1:hover, 
#slide4:checked ~ .controls .label1:nth-of-type(1),
#slide5:checked ~ .controls .label1:nth-of-type(2) {
	background-color: #5c3caf;
}
#slide6:checked ~ .controls .label1:nth-of-type(3){
    background-color: darken($color: #5c3caf, $amount: 30);
}
.child1{
    height: auto;
    padding: 50%;
    width: 100%;
    position: relative;
    background: url($img + "320/img4.png") no-repeat;
    background-size: cover;
    box-sizing: border-box;
    &:nth-child(3){
        background: url($img + "320/img5.png") no-repeat;
        background-size: cover;  
    }
    &:nth-child(5){
        background: url($img + "320/img6.png") no-repeat;
        background-size: cover;  
    }
}
.child2{
    @include wh;
    text-align: left;
    padding: 35px 44px 41px 18px;
    box-sizing: border-box;
    &-title{
        color: #e7e7e7;
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-family: 'Proxima Nova Bold';
        margin-bottom: 23px;
    }
    &-descr{
        color: #000000;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.8px;
        font-family: 'Proxima Nova Rg';
        margin-bottom: 13px;
    }
    &-link{
        display: block;
        border: none;
        background-color: #5d40ad;
        width: 22px;
        height: 5px;
        border-radius: 5px;
        text-decoration: none;
    }
}
.link_container{
    display: block;
    text-align: left;
    padding: 10px 0;
    box-sizing: border-box;
    &:hover .child2-link{
        background-color: orangered;
    }

}
.block_number{
    display: inline-block;
    width: auto;
    height: auto;
    position: absolute;
    text-align: center;
    bottom: -12px;
    left: 19px;
    padding: 26px;
    box-sizing: border-box;
    background-color: #5e42b0;
}
.number{
    vertical-align: middle;
    font-size: 14px;
    letter-spacing: 0.7px;
    font-family: 'Proxima Nova Bold';
    color: #f5f6f7;
    }
.number_hr{
    margin-top:3px;
    opacity: 0.3;
    background-color: #ffffff;
    border-radius: 2px;
    width: auto;
    height: 4px;
    }
.container2{
    margin: 0 auto;
    max-width: 320px;
}
.block5{
   background: url($img + "320/img8.png") no-repeat;
   background-size: cover;
   &__head{
        padding-top: 97px;
        padding-bottom: 72px;
   }
   &__logo{
       margin: auto;
       margin-bottom: 57px;
       width: 73px;
       height: 78px;
       background: url($img + "320/img7.png")no-repeat;
   }
   &__hr {
        position: absolute;
        z-index: -1;
        top:calc(140/295.84*100%);
        left: calc(-15/295.84*100%);
        border: none;
        width: 88.62px;
        height: 4px;
        background-color: #936eea;
        transform: rotate(-45deg);
        &:nth-of-type(2){
            width: 153.84px;
            top: calc(146/295.84*100%);
            left: calc(97/295.84*100%);
        }
    }
    &__title{
        margin: auto;
        position: relative;
        font-family: 'Proxima Nova Bold';
        text-align: center;
        text-transform: uppercase;
        z-index: 2;
    }
    &__title1{
        color: #ffffff;
        font-size: 34px;
        letter-spacing: 1.7px;
    }
    &__title2{
        color: #9b8ec1;
        font-size: 15px;
        letter-spacing: 0.75px;
    }
    .block__buttons{
        margin-bottom: 127px;
    }
}
footer{
    padding-top: 19px;
    padding-bottom: 13px;
    background-color:rgba(14, 19, 54, 0.6);
    box-sizing: border-box;
}
.logo__footer{
    display: none;
}
.link__footer{
    display: none;
}
.soc__network {
    display:block;
    text-align: center;
    word-spacing: 41px;
}
.svg__style{
    fill: #ffffff;
    width: 18px;
    height: 18px;
    &:hover{
        fill: orangered;
    } 
}
@media (min-width:768px){
    .container1{
        max-width: 727px;
    }
    .container2{
        max-width: 768px;
    }
    .block1 {
        background: url($img + "768/img1.png") no-repeat;
        background-size: cover;
        &__title{
            padding: 0 63px;
            margin-top: 194px;
            margin-bottom: 184px;
        &-item{
            font-size: 64px;
            line-height: 64px;
            letter-spacing: 3.52px;
            &:nth-child(2){
                margin-top: 10px;
                padding-left: 108px;
                letter-spacing: 3.52px;
                }
            }
        }
        .flex &__column:nth-child(4){
            order: 1;
        }
        .flex &__column:nth-child(3){
            order: 2;
        }
    }
    .logo{
        margin-top: 52px;
        background: url($img + "768/img2.png");
    }
    .hr {
        top: 108px;
        background-color: #5d40ad;
        width: 406.21px;
        transform: rotate(-50deg);
        height: 4px;
    }
    .flex2{
        justify-content: space-between;
        align-items: flex-start;
    }
    .header__link{
        display: block;
        margin-top: 57px;
    }
    .block__buttons{
        padding: 0 38px;
        box-sizing:border-box; 
        margin-bottom: 91px; 
        &_item{
            margin-right: 30px;
            padding: 19px 34px;
            box-shadow: 8px 14px 24px #0a0e34;
            border-radius: 40px;
        }
    }
    .button{
        &__icon{
            width: 37px;
            height: 37px;
            margin-right: 26px; 
            .block__buttons_item:nth-child(2)  &{
                background: url($img + '768/icon-google-play.png');
                width: 36px;
                height: 39px;
            }        
        }
        &__title{
            font-size: 14px;
            letter-spacing: 0.7px;
        }    
    }
    .topmenu{
        margin-top: 0;
        margin-bottom: 106px;
        &__a {
            padding: 10px 28.5px;
            font-size: 16px;
            letter-spacing: 0.8px;
        }
    }
    .block2.flex{
        flex-direction: column;
    }
    .block3.flex{
        flex-direction: column;
    }
    .block2{
        position: relative;
        .container1{
            max-width:768px;
            padding-left:287px;
            padding-right: 56px;
            box-sizing: border-box;
        }
    }
    .cross{
        &__part1{ 
            margin-bottom: 19px;
                &-title{
                font-size: 90px;
                margin-top: 82px;
                margin-left: 0;
            } 
        }
    }
    .sportsmen{
        right:calc((100% + 112px) / 2);
        top: 116px;
        &-img{
            background: url($img + "768/img2.png") no-repeat;
            background-size: cover;
            width: 497px;
            height: 699px;
        }
        &-hr{
            top: 236px;
            left: -89px;
            height: 5px;
            width: 600px;
        }
    }
    .criss-cross{
        top: -17px;
        left: 198px; 
    }
    .wrapper {
        margin:0 ;
        position: static;
        width: auto;
        height: 100%;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .slides {
        opacity: 1;
        width: 100%;
        z-index: 1;
        position: static;
        padding-bottom: 37px;
        transition: none;
    }
    .sl{
        &__title{
            margin-top:40px;
            margin-bottom: 32px;
        &-number{
            margin-right: 12px;
            font-size: 18px;
            letter-spacing: 0.9px;
        }
        &-hr{
            margin-top:3px;
            height: 5px;
            border-radius: 2px;
        }
        &-text{
            font-size: 36px;
            letter-spacing: 1.8px;
        }  
        &-descr{
            margin-bottom: 0;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.9px; 
            } 
        }
    }
    .controls {
        display: none;
    }
    .label1 {
        display: none;
    }
    .block3{
        .container1{
            max-width: 768px;
            padding-left: 33px;
            padding-right: 312px;
            box-sizing: border-box;
        }
        .cross__part1 {
            margin-bottom: 19px;
        }
        .sportsmen{
            left: calc((100% - 98px) / 2);
            top: 70px;
        &-img{
            background: url($img + "768/img3.png") no-repeat;
            background-size: cover;
            width: 690px;
            height: 565px;
        }
        &-hr{
            top: 324px;
            left: 71px;
            width: 419px;
            height: 5px;
            &:nth-of-type(2){
                width: 119.85px;
                left: 174px;
                top: 65px;
                height: 0;
            }
        } 
        .criss-cross{
            top: 76px;
            left: 209px;
            .criss {
                opacity: 1;
                &:nth-child(2){
                    opacity: 0.3;
                }
                &:nth-child(3){
                    display: none;
                    }
                }
            }
        }
    }
    .child1{
        padding-bottom: 26%;
        background: url($img + "768/img4.png") no-repeat;
        background-size: cover;
        &:nth-child(3){
            background: url($img + "768/img5.png") no-repeat;
            background-size: cover;
        }
        &:nth-child(5){
            background: url($img + "768/img6.png") no-repeat;
            background-size: cover;
        }
    }
    .child2{
        padding: 77px 77px 60px 34px;
        &-title{
            font-size: 90px;
            letter-spacing: 0;
            margin-bottom: 36px;
        }
        &-descr{
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 1.2px;
            margin-bottom: 23px;
        }
    }
    .block_number{
        bottom: -36px;
        left: 33px;
        padding: 43px;
        box-sizing: border-box;
    }
    .number{
        font-size: 24px;
        letter-spacing: 1.2px;
    }
    .number_hr{
        margin: 0 3px;
        margin-top:9px;
        height: 5px;
    }
    .block5{
    background: url($img + "768/img7.png");
    background-size: cover;
    &__head{
            padding-top: 128px;
            padding-bottom: 198px;
        }
    &__logo{
        margin-bottom: 82px;
        width: 130px;
        height: 137px;
        background: url($img + "768/logo2.png")no-repeat;
        background-size: cover;
    }
    &__hr {
            width: 207.71px;
            height: 8px;
            &:nth-of-type(2){
                width: 417.40px;
            }
        }   
    &__title1{
        font-size: 80px;
        letter-spacing: 4.85px;
    }
    &__title2{
        font-size: 36px;
    }
    .block__buttons{
        margin-bottom: 129px;
    }
    }
    footer{
        padding-top: 35px;
        padding-bottom: 30px;
    }
    .svg__style{
        width: 27px;
        height: 27px;
    }
}
@media(min-width:978px){
    .container3{
        max-width: 879px;
        margin: 0 auto;
    }
    .block_number{
        left: calc(50% - 456px);
    }
    .block2{
        .container1{
            max-width: 978px;
            padding-left: 497px;
        }
        .sportsmen{
            right:calc((100% - 16px) / 2);
        }    
    }     
    .block3{
        .container1{
            max-width: 978px;
            padding-right: 522px;
        }
        .cross__part1 {
            margin-bottom: 19px;
        }
        .sportsmen{
            left: calc((100% - 307px) / 2);
            top: 70px;
        } 
    }
}
@media(min-width:1100px){
    .container1{
        max-width: 1100px;
    }
    .hr {
        right: calc(117 / 243.53 * 100%);
    }
    .block2{
        .container1{
            max-width: 1100px;
            padding-left: 534px;
        }
    }     
    .block3{
        .container1{
            max-width: 1100px;
            padding-right: 644px;
        }
        .sportsmen{
        &-hr{
            &:nth-of-type(2){
                width: 300px;
                left: 397px;
                top: 161px;
                height: 5px;
                }
            } 
        }
    }
    .container3{
        max-width: 420px;
        margin: 0;
    }
    .block4.flex{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    @include order(1);
    .child:nth-child(4n+4){
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .child1{
        padding: 182.5px 25%;
        width: 50%;
        height: auto;
        background: url($img + "1920/img4.png") center no-repeat;
        background-size: cover;  
        box-sizing: border-box;
        &:nth-child(3){
            background: url($img + "1920/img5.png") center no-repeat;
            background-size: cover;  
        }
        &:nth-child(5){
            background: url($img + "1920/img6.png") center no-repeat;
            background-size:cover;  
        }
    }
    .child.child2{
        width:50%;
        padding:257px 0 112px 127px;
        &:nth-child(4){
            padding:190px 130px 52px 162px;
        }
        .child2-title{
            font-size: 80px;
            letter-spacing: 1.4px;
            margin-bottom: 92px;
        }
        .child2-descr{
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 1.2px;
            margin-bottom: 70px;
            box-sizing: border-box;
        }
    }
    .block_number{
        bottom: auto;
        top: 211px;
        left: calc(100% - 84px);
        padding: 58.5px 70.422px;
    }
    .child:nth-child(4n-1){
        .block_number{
            left: -84px;
        }
    }
    .number{
        font-size: 24px;
        letter-spacing: 1.2px;
    }
    .number_hr{
        margin-top:9px;
        height: 5px;
    }
}
@media(min-width:1531px){
    .container1{
        max-width: 1531px;
    }
    .container3{
        max-width: 833px;
    }
    .block1 {
        background: url($img + "1920/img1.png") no-repeat;
        background-size: cover;
        &__title{
            padding: 0;
            margin-top: 309px;
            margin-bottom: 20px;
        &-item{
            font-size: 90px;
            line-height: 90px;
            letter-spacing: 4.96px;
            &:nth-child(2){
                padding-left: 0;
                text-align: right;
                letter-spacing: 4.5px;
                z-index: 0;
                }
            }
        }
        .flex &__column:nth-child(4){
            align-self: flex-end;
        }
    }
    .hr {
        right: calc(1005 / 1920 * 100%);
        top: 75px;
        width: 406.21px;
        height: 7px;
    }
    .block__buttons{
        margin-bottom: 110px; 
        &_item{
            margin-right: 50px;
        }
    }
    .topmenu{
        margin-bottom: 171px;
    }
    .block2{
        .container1{
        max-width: 1531px;
        padding-left: 806px;
        margin: 0 auto;
    }
    .sportsmen{
        right: calc((100% - 66px) / 2);
        top: 46px;
            &-img{
                background: url($img + "1920/img2.png") no-repeat;
                width: 725px;
                height: 1105px;
            }
            &-hr{
                width: 880.31px;
                top: 358px;
                left: -169px;
                transform: rotate(-50deg);
            }
        }
    }
    .criss-cross{
        top: 124px;
        left: 78px;
    }
    .cross{
        &__part1{ 
            margin-bottom: 30px;
                &-title{
                font-size: 90px;
                margin-top: 112px;
                margin-left: 0;
            } 
        }
    }    
    .slides {
        padding-right: 24px;
        padding-bottom: 61px;
    }
    .sl{
        &__title{
        margin-top:64px;
        &-number{
        margin-right: 13px;
        }
        &-descr{
            font-size: 20px;
            letter-spacing: 1px; 
            } 
        }
    }
    .block3{
        .container1{
            margin: 0 auto;
            max-width: 1531px;
            padding-right:785px;
            padding-left: 130px;
        }
        .cross__part1 {
            margin-bottom: 19px;
        }
        .sportsmen{
            left:calc((100% - 300px)/2);
            top: -36px;
        &-img{
            background: url($img + "1920/img3.png") no-repeat;
            width: 991px;
            height: 815px;
        }
        &-hr{
            top: 580px;
            left: 120px;
            width: 425.3px;
            height: 7px;
            &:nth-of-type(2){
                width: 421.17px;
                left: 582px;
                top: 234px;
                height: 7px;
            }
        } 
        .criss-cross{
            top: 136px;
            left: 300px;
            .criss {
                opacity: 1;
                &:nth-child(2){
                    opacity: 0.3;
                }
                &:nth-child(3){
                    display: block;
                    }
                }
            }
        }
    }
    .child1{
        background: url($img + "1920/img4.png") no-repeat;
        background-size: 100% 100%;  
        box-sizing: border-box;
        &:nth-child(3){
            background: url($img + "1920/img5.png")  no-repeat;
            background-size: 100% 100%;  
        }
        &:nth-child(5){
            background: url($img + "1920/img6.png") no-repeat;
            background-size: 100% 100%;  
        }
    }
    .child.child2{
        &:nth-child(4){
            .child2-descr{
                padding-right: 83px;
            }
        }
        .child2-title{
            font-size: 90px;
        }
        .child2-descr{
            padding-right: 300px;
        }
    }
    .block5{
        background: url($img + "1920/img7.png");
        background-size: cover;
        &__head{
            padding-top: 229px;
            padding-bottom: 151px;
        &.flex{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            }
        }
        &__hr {
            width: 209.03px;
            top:calc(120/295.84*100%);
            left: calc(-5/295.84*100%);
        }   
        &__title{
            margin: 0;
        }
        &__logo{
            margin:0 36px 0 0;
            flex-shrink: 0;
        }
        &__title1{
        text-align: left;
        font-size: 90px;
        letter-spacing: 4.96px;
        }
        &__title2{
            text-align: left;
        }
        .block__buttons{
            margin-bottom: 197px;
        }
    }
}  
@media(min-width:1920px){
    .child:nth-child(4n+4){
        .container3{
            max-width: 670px;
        }
    }
    .child.child2{
        &:nth-child(4){
            padding:257px 108px 151px 171px;
            .child2-descr{
                padding-right: 251px;
                margin-bottom:92px;

            }
            .child2-title{
                margin-bottom: 70px;
            }
        }
        &:nth-child(6){
            .child2-descr{
                padding-right: 320px;
            }
        }
        .child2-descr{
            padding-right: 510px;
        }
    }
    .block_number{
        top: 211px;
        bottom: auto;
    }
    .container4{
        max-width: 1810px;
        margin: 0 auto;
    }
    footer{
        padding-top: 71px;
        padding-bottom: 67px;
        .container4 .flex2{
            justify-content: space-between;
        }
    }
    .footer_item{
        width: 33.33%;
    }
    .logo__footer{
        display: block;
        background: url($img + '1920/logo3.png');
        width: 172px;
        height: 30px;
    }
    .link__footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &_li{
            padding: 0 10px;
            &:first-child{
                border-right: 2px solid #ffffff;
            }
        }
        &_a{
            color: #ffffff;
            font-family: "Proxima Nova Rg";
            font-size: 20px;
            letter-spacing: 1px;
            text-decoration: none;
            &:hover{
                color: orangered;
            }
        }
    }
}























